
    <h3>Hi Admin, </h3>
    <p>

      
      <b>Name: <%= @name%> </b>.
      <br />
      <b>
      Email: <%= @email%></b>
      <br />
      <b>
      Website Url: <%= @website_url%></b>
      <br />
      <b>
      Comment: <%= @comment%></b>
      <br />

    </p>
 
    <b>Thanks & Regards<br>
    LabCat</b></p>