
    <p>Hi Admin, </p>
    <p>

      
      <b>Name: <%= @name%> </b>
      <br />
      <b>
      Email: <%= @email%></b>
      <br />
      <b>
      Website Url: <%= @website_url%></b>
      <br />
      <b>
      Comment: <%= @comment%></b>
      <br />

    </p>
 
    <p>Thanks & Regards<br>
    LabCat</p>