

<div class="container">
	<div class="row">
		<div class="col-lg-4">
		<%= link_to authenticated_root_path do %>
				  <%= image_tag('/assets/Logo2-01.png',  size: "360x360", class: "img-circle", style: "margin-top:94px;") %>
				<% end %>
			
		</div>
		<div class="col-lg-8">
			
				<font style="font-size:120px; color:#00BFFF">&ldquo;</font>
				<p style="width: 700px;" class="text-justify">	<font style="font-size:25px">
					<strong>	It's a single mobile application. It maintains database of digital catalogues and advertisements of all the companies supplying chemicals, equipments and labware. This is a common platform where users, companies and dealers can communicate.
					</font></strong></p>
				<font style="font-size:120px; color:#00BFFF; text-align: right;">&rdquo;</font>
			
		</div>
	</div>
</div>


                       		
