
<div class="container">
	<div class="row">
 		<div class="col-lg-12 col-xs-12 col-sm-12">
 			<h3 style="color:#00BFFF;">Contact Us &nbsp;<small>STOP BY ANYTIME</small></h3> 

 			<hr style="border-color:#00BFFF;">
 		</div>
 	</div>
	<div class="row">
		<div class="col-lg-12">
 			<input id="yourName" type="text" class="form-control input-lg" name="yourName" value="" placeholder="Name">
 		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
 			<input id="emailAddress" type="text" class="form-control input-lg" name="emailAddress" value="" placeholder="Email Address">
 		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
 			<input id="url" type="text" class="form-control input-lg" name="url" value="" placeholder="Website URL">
 		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
 			<input style="height:100px;" id="comments" type="text" class="form-control input-lg" name="comments" value="" placeholder="Comments">
 		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<button class="btn btn-primary btn-lg" style="width:100%;">SUBMIT</button>
		</div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="col-lg-12">
			<center></center>
		</div>
	</div>
	<div class="row">
		<center>
			<strong style="font-size:23px;"></strong>
			<br>
			<small style="font-size:18px;"></small>
		</center>
	</div>

</div>
<br />



                             		
