
<div class="container">
 <div class="row"  >
      <div class="col-md-3">
      
      </div>
      <div class="col-md-6">
        
        <div id="custom-search-input" >
          <div class="input-group col-md-12">
          <%= text_field_tag :search,@search, autofocus: true,:id => "search1", class: "form-control input-lg", placeholder: "Enter Product Name/Code..", style: "text-align: center" %>  
            <span class="input-group-btn">       
             <%= link_to '<i class="glyphicon glyphicon-search"></i>'.html_safe, "#", id: "find_product", class: "btn btn-info btn-lg"%>                
                        
            </span>
          </div>
        </div>
      </div>
    </div>
 
</div>    


<br />
<div class="clearfix"></div>
<div class="container">
  <div class="row" style="padding: 1%;">
<div id="product_table">
  
  <%= render partial: "products/product_table"%>
</div>
</div>
</div>




<style type="text/css">
/*tr { border: solid thin; }*/
/*td { border: 2px solid thin; }*/

</style>
<script type="text/javascript">
$(document).ready(function(){
  $('#search1').keyup(function(){
   search = $('#search1').val()
   if(search.length == 0 ){
          $.ajax({
      async : true,
      type : 'GET',
      url : "/dashboards/search",
      data : { "search": search
                }
       
    });

   }
});

$('#find_product').click(function(){
   search = $('#search1').val()
   
    $.ajax({
        async : true,
        type : 'GET',
        url : "/dashboards/search",
        data : { "search": search
                  }
    });
 
});
 
});

</script>