  <div class="row">
    <div class="col-lg-offset-2">

      <strong class="labs" style="margin-left: 91%;"><%= link_to "Sign In", new_user_session_path, style: "color: #FA4E7B;" %>
      </strong>

    </div>
   
  </div>

    <div class="row">
    <div class="col-lg-offset-2" style="margin-bottom: -4%;">

     <img src="/assets/Logo2-01.png" class="img-circle center-logo" style="width: 15%;margin-left: 16%;">
     <strong class="labs" style="font-size: 600%;">Labs</strong><span class="cat" style="font-size: 600%;">Cat</span>

    </div>
   
  </div>

  <div class="row">
    <div class="col-lg-offset-2" style="margin-bottom: -4%;">
  

   
    
    <!-- < %= form_tag product_list_path do |f| %>  -->
   <div class="input-group username">
                
                    
                 <%= text_field_tag :search,nil, autofocus: true,:id => "login-username", class: "form-control input-lg", placeholder: "Enter Product Name/Code..", style: "width: 233%;margin-left: 40%;text-align: center" %>  
                                            
    </div>
    <div style="margin-bottom: 25px" class="input-group">
    <%= link_to "Search Product", product_list_path, id: "search_product", class: "btn  col-lg-12 btn-lg loginBtn", style: "margin-left: 215%;background-color: #7E2843;color: aliceblue;"%>
    <!-- < %= submit_tag "Search Product", class: "btn  col-lg-12 btn-lg loginBtn", style: "margin-left: 260%;background-color: #7E2843;color: aliceblue;" %> -->
    </div>
    <!-- < %end%>     -->
    

      
    </div>
    <div class="col-lg-8">

    </div>

    <div class="col-lg-4">
      <a href="http://www.apple.com/">
        <i class="fa fa-apple" style="font-size: 60px; color:#fff; margin-right:65px;"></i>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.labscat.buyer", target="_blank">
        <i class="fa fa-android"style="font-size: 60px; color:#fff;"></i>
      </a>
      
    </div>

  </div>
  <%= render partial: "/layouts/sign_in_footer"%>

<script type="text/javascript">
href = $('#search_product').attr('href')
  $('#login-username').keyup(function(){
     value = $('#login-username').val()
     $('#search_product').attr('href', href+"?search="+value) 
  });

   $(document).on("keyup", function (event) {

        if (event.which == 13) {
          var my_target_url = $('#search_product').attr('href'); //Figures out where your link goes...
          $(location).attr('href', my_target_url)
          // window.location = my_target_url();
        }
    });

</script>