body{
	font-family: "Prosto One";
	font-size: 18px;
}

.login{
	/*background-image: url("/assets/Background2.jpg");*/
}

.labs , .cat{
	color: #000;
}

.center-logo, .loginForm{
	    margin-top: 4%;
}

.labs, .cat{
	font-family: "Prosto One";
	font-size: 2em;
}

.remember{
	margin: 0px;
	margin-left: -1%;
	padding: 0px;
}

.forgot{
	padding: 0px;
}

.loginBtn{
	margin-top: 4%;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

footer{
	width: 100%;	
	position:absolute;
	font-size: 16px;
    right: 0;
        bottom: auto;
    left: 0;
  padding: 1rem;
   text-align: center;
  
	
}

.labsCatFooter{
	color: #fff;
}

.privacy{
	

}