
<div class="container">
	<div class="row">
 		<div class="col-lg-12 col-xs-12 col-sm-12">
 			<h3 style="color:#00BFFF;">3. Agreement between User, Dealer, Provider and Company &nbsp;<small></small></h3> 

 			<hr style="border-color:#00BFFF;">
 		</div>
 	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>a. The User(s) and/or Dealer(s) and/or Provider(s) understands that the Company through the Site provides hosting services to its Users. All Content listed on the Site is third party User generated content which is transmitted and/or hosted on the Site. Company neither originates nor initiates the transmission nor selects the sender and receiver of the transmission, nor modifies the information contained in the transmission. b. The Site is operated by &lsquo;LabsCat&rsquo; and its affiliates/associates. The Services are offered to the User(s) and/or Dealer(s) and/or Provider(s) conditioned on the acceptance of the User(s) and/or Dealer(s) and/or Provider(s) without modification of the terms, conditions, and notices contained herein. Use of the Site by a User(s) and/or Dealer(s) and/or Provider(s) constitutes agreement to all such terms, conditions, and notices. If the User(s) and/or Dealer(s) and/or Provider(s) does not agree with any part of the Agreement, these terms, conditions and notices, it/they must not use the Services. c. Most content and some of the features on the Site is made available to User(s) and/or Dealer(s) and/or Provider(s) free of charge. However, Company reserves the right to terminate access to certain areas or features of the Site to User(s) and/or Dealer(s) and/or Provider(s) at any time with or without giving any reason, with or without notice. Company also reserves the universal right to deny access to particular User(s) and/or Dealer(s) and/or Provider(s) to any/all of its Services and/or content without any prior notice/explanation in order to protect the interests of Company and/or other visitors to the Site. Company reserves the right to limit, deny or create different type access to the Site and its content features with respect to different User(s) and/or Dealer(s) and/or Provider(s), or to change any of the features or introduce new features without prior notice. d. Company reserves the right to list its registered User(s) and/or Dealer(s) and/or Provider(s) on the Site and as well as on other network portals run by the Company. In case a User(s) and/or Dealer(s) and/or Provider(s) does not want to be listed on the Site or on any of our network portals, they can communicate the same to us in writing by sending an email to labscat16@gmail.com. e. User(s) and/or Dealer(s) and/or Provider(s) are advised to exercise due caution while transacting with a prospective buyer or a seller on the Site. User(s) and/or Dealer(s) and/or Provider(s) must undertake interaction or transaction with organizations and/or individuals located on or through the Site, with reasonable caution and after undertaking thorough diligence on such organization and/or individual. Neither the Company nor its director&rsquo;s, employees, officers or agents shall be liable to any User(s) and/or Dealer(s) and/or Provider(s) or otherwise, for any illegal or fraudulent interaction or transaction with organizations and/or individuals located on or through the Site.
</p>


 		</div>
	</div>
	<br>
</div>





                 		


                 		
