
<div class="container">
	<div class="row">
 		<div class="col-lg-12 col-xs-12 col-sm-12">
 			<h3 style="color:#00BFFF;">4. Amendments/Modification of Terms of Use &nbsp;<small></small></h3> 

 			<hr style="border-color:#00BFFF;">
 		</div>
 	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>The Company reserves the right to change the terms, conditions, and notices under which the Services are offered, including but not limited to the changes associated with the User(s) and/or Dealer(s) and/or Provider(s) of the Services and changes on account of legal and/or statutory amendments. The User(s) and/or Dealer(s) and/or Provider(s) is responsible for regularly reviewing these terms and conditions and is advised to regularly check for any amendments or updates to the terms and conditions contained and/or the Agreement. All amendments become effective immediately upon our posting to the Site.
</p>



 		</div>
	</div>
	<br>
</div>





                 		


                 		

<div class="container">
	<div class="row">
 		<div class="col-lg-12 col-xs-12 col-sm-12">
 			<h3 style="color:#00BFFF;">5. Warranties and Disclaimer &nbsp;<small></small></h3> 

 			<hr style="border-color:#00BFFF;">
 		</div>
 	</div>
	<div class="row">
		<div class="col-lg-12">
		<p>a. Company has endeavoured to ensure that all the information on the Site is correct, however Company neither warrants nor makes any representations regarding the accuracy or completeness of any data or information contained on the Site. This Company disclaims any liability, responsibility or any other claim, whatsoever, in respect of any loss, whether direct or consequential, to any User(s) and/or Dealer(s) and/or Provider(s) or any other person, arising out of or in connection with the use of the information, data and/or materials contained on the Site. b. Company does not make any representation or warranty as to the attributes such as for quality, worth, marketability, etc. of the items or Services proposed to be sold or purchased or ordered by the User(s) and/or Dealer(s) and/or Provider(s) of the Site. Company accepts no liability for any errors or omissions, whether on its behalf or on behalf of third parties, in this regard. c. Company does not make any representation or warranty as to the attributes to legal title, creditworthiness, identity, etc. of any kind about any product or services offered, displayed or hosted on the Site of its User(s) and/or Dealer(s) and/or Provider(s). The User(s) and/or Dealer(s) and/or Provider(s) is advised to independently verify the bona fides of any particular User(s) and/or Dealer(s) and/or Provider(s) that it chooses to deal with on the Site. d. Company undertakes research and investigation through a repute private agency for some of its services. The information report created from such research and investigation is only provided to you as a tool to help your business and/or as an authentication of your existence as a business entity. e. The Company does not collect any Sensitive Personal Data/Information of a User(s) and/or Dealer(s) and/or Provider(s). f. Company may conduct email, phone enquiries on its Site to provide the Services, Company however does not have a mechanism to verify the credentials of these enquiries, hence buyers &amp; sellers are advised to exercise due caution in dealing with these enquiries &amp; finalizing business deals. g. The Company provides the Site, App and Services &quot;as is&quot; and without any warranty or condition, express, implied or statutory and specifically disclaims any implied warranties of title, merchantability, fitness for a particular purpose and non-infringement. The User(s) and/or Dealer(s) and/or Provider(s) expressly agrees that use of the Site is at its own risk.
</p>



 		</div>
	</div>
	<br>
</div>





                 		


                 		
