<!-- 
    < %= link_to "Company", "" %>
< %= link_to "Advertisement", advertisements_path %>
          < %= link_to 'Logout', destroy_user_session_path, method: :delete %> -->

<div class="container">
	<div class="row">
		<div class="col-lg-6">
		  
			<img src="/assets/Logo2-01.png" width="60" height="60" class="img-circle">
			<strong class="labs">Labs</strong><span class="cat">Cat</span>

		</div>

		<div class="col-lg-6">
			<%= link_to "Welcome, #{current_user.user_profile.name}",edit_user_registration_path,class: "pull-right username"%>
		</div>
		
	</div>	
</div>          
<style type="text/css">

</style>