<!-- 
    < %= link_to "Company", "" %>
< %= link_to "Advertisement", advertisements_path %>
          < %= link_to 'Logout', destroy_user_session_path, method: :delete %> -->

<div class="container">
	<div class="row">
		<div class="col-lg-6">
		  
			<img src="/assets/Logo2-01.png" width="60" height="60" class="img-circle">
			<strong class="labs">Labs</strong><span class="cat">Cat</span>

		</div>

		<div class="col-lg-6">
			<a href="#" class="pull-right username">Welcome, <%= current_user.user_name%></a>
		</div>
		
	</div>	
</div>          
