
<div class="container">
	<div class="row">
 		<div class="col-lg-12 col-xs-12 col-sm-12">
 			<h3 style="color:#00BFFF;">6. Membership Eligibility &nbsp;<small></small></h3> 

 			<hr style="border-color:#00BFFF;">
 		</div>
 	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>The use of the Site is available only to persons who can form legally binding contracts under applicable law. Persons who are &quot;incompetent to contract&quot; within the meaning of the Indian Contract Act, 1872 including minors, un-discharged insolvents etc. are not eligible to use the Site. A minor i.e. under the age of 18 years, cannot register as a member of the Site. The Company reserves the right to terminate the User(s) and/or Dealer(s) and/or Provider(s) membership and may refuse to provide the User(s) and/or Dealer(s) and/or Provider(s) with access to the Site if Company discovers that the User(s) and/or Dealer(s) and/or Provider(s) is under the age of 18 years. The Site is not available to persons whose membership has been suspended or terminated by Company unless specifically invited by the Company. If the User(s) and/or Dealer(s) and/or Provider(s) is registering as a business entity, the User(s) and/or Dealer(s) and/or Provider(s) hereby represents and warrants that the User(s) and/or Dealer(s) and/or Provider(s) has the authority to bind the entity to this Agreement.
</p>




 		</div>
	</div>
	<br>
</div>





                 		


                 		

<div class="container">
	<div class="row">
 		<div class="col-lg-12 col-xs-12 col-sm-12">
 			<h3 style="color:#00BFFF;">7. Electronic Communications &nbsp;<small></small></h3> 

 			<hr style="border-color:#00BFFF;">
 		</div>
 	</div>
	<div class="row">
		<div class="col-lg-12">
		<p>a. The User hereby consents to receive communications from the Company electronically. The Company may communicate with the User(s) and/or Dealer(s) and/or Provider(s) by email or by posting notices on the Site. The User(s) and/or Dealer(s) and/or Provider(s) hereby agrees that all agreements, notices, demands, disclosures and other communications that the Company sends electronically including by posting on Site, satisfy the legal requirement that such communication is in writing. b. User(s) and/or Dealer(s) and/or Provider(s) hereby authorises Company to contact them periodically using mediums like telephone, mailers or any other means, direct or indirect, in regard to their account information, special offers, surveys etc. If a User(s) and/or Dealer(s) and/or Provider(s) does not wish to receive calls/other communications from Company or its employees, they must inform Company in writing by sending an email to labscat16@gmail.com. c. All calls made to User(s) and/or Dealer(s) and/or Provider(s) by the company are periodically recorded for internal training and quality purposes only. All updates done by User(s) and/or Dealer(s) and/or Provider(s) to their data, by visiting the site or through verification mailers are recorded for future reference.
</p>




 		</div>
	</div>
	<br>
</div>

<div class="container">
	<div class="row">
 		<div class="col-lg-12 col-xs-12 col-sm-12">
 			<h3 style="color:#00BFFF;">8. Platform for Communication &nbsp;<small></small></h3> 

 			<hr style="border-color:#00BFFF;">
 		</div>
 	</div>
	<div class="row">
		<div class="col-lg-12">
		<p>The Site is also a venue where User(s) and/or Dealer(s) and/or Provider(s) may interact with one another for their transactions. Company is not and cannot be a Party to or control in any manner any transaction between two User(s) and/or Dealer(s) and/or Provider(s) of the Site. Consequently: a. Company is not responsible for any non-performance or breach of any formal/informal contract entered into between User(s) and/or Dealer(s) and/or Provider(s) s. Company cannot and does not guarantee that the concerned User(s) and/or Dealer(s) and/or Provider(s) s will perform any transaction concluded on the Site. Company shall not and is not required to mediate or resolve any dispute or disagreement between User(s) and/or Dealer(s) and/or Provider(s). b. The Site is also a channel of communication whereby the User(s) and/or Dealer(s) and/or Provider(s) can reach a large base of persons in the global exim market. The Company is only providing a platform for communication and it is agreed that the contract for sale of any of the products or services shall be a strictly bipartite contract between the seller and the buyer, respectively. At no time shall the Company have any obligations or liabilities in respect of any such contract. The Company is not responsible for unsatisfactory or delayed performance of any services and/or delayed delivery of goods or damages or delays as a result of items which are out of stock, back ordered or otherwise unavailable to any User(s) and/or Dealer(s) and/or Provider(s) . The Company shall not be liable for any product or services offered on the Site. All goods and Services Hosted on the Site are those of the User(s) and/or Dealer(s) and/or Provider(s) (s)/Supplier(s) etc. unless otherwise mentioned therein. c. The User(s) and/or Dealer(s) and/or Provider(s) independently agrees upon the manner and terms and conditions of delivery, payment, insurance etc. with the other registered User(s) and/or Dealer(s) and/or Provider(s) s or third parties that it may interact with on the Site. d. The Site is also a channel of communication whereby the User(s) and/or Dealer(s) and/or Provider(s) s can reach a large base of persons in the global exim market. The Company is only providing a platform for communication and it is agreed that the contract for sale of any of the products or services shall be a strictly bipartite contract between the seller and the buyer, respectively. At no time shall the Company have any obligations or liabilities in respect of any such contract. The Company is not responsible for unsatisfactory or delayed performance of any services and/or delayed delivery of goods or damages or delays as a result of items which are out of stock, back ordered or otherwise unavailable to any User(s) and/or Dealer(s) and/or Provider(s) . e. Notwithstanding its reasonable efforts in that behalf, Company cannot control the information provided by other User(s) and/or Dealer(s) and/or Provider(s) s which is made available on the Site. The User(s) and/or Dealer(s) and/or Provider(s) may find other User(s) and/or Dealer(s) and/or Provider(s) &#39;s information to be offensive, harmful, inaccurate, or deceptive. Please use caution, common sense, and practice safe trading when using the Site. Please note that there are also risks of dealing with foreign nationals, underage persons or people acting under false pretences.
</p>

 		</div>
	</div>
	<br>
</div>




                 		


                 		
