
<div class="container">
	<div class="row">
 		<div class="col-lg-12 col-xs-12 col-sm-12">
 			<h3 style="color:#00BFFF;">2. Prohibited Content & Consents &nbsp;<small></small></h3> 

 			<hr style="border-color:#00BFFF;">
 		</div>
 	</div>
	<div class="row">
		<div class="col-lg-12">
<p>a. The Company DOES NOT permit a User to host, display, upload, modify, publish any information, transmit, update or share OR provide any services or data, information or any Illegal/Prohibited Content. The User(s) and/or Dealer(s) and/or Provider(s) hereby represents and warrants that it shall not display, list, upload, modify, publish any information, data or materials and/or transmit or share anything that: i. belongs to another person and to which the User does not have any right to; ii. is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libellous, invasive of another&rsquo;s privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatsoever; iii. harm minors in any way; iv. contain fraudulent information or makes fraudulent offers of items or involve the sale or attempted sale of counterfeit or stolen items or Illegal/Prohibited items or items whose sales and/or marketing is prohibited by applicable law, or otherwise promote other illegal activities; v. infringes any patent, trademark, copyright or other proprietary rights of any party; vi. violates any law for the time being in force; vii. is a part of a scheme to defraud other User(s) of the Site or for any other unlawful purpose; viii. deceives or misleads the addressee about the origin of such messages; ix. communicates any information which is grossly offensive or menacing in nature; x. relates to sale of products or Services that infringe or otherwise abet or encourage the infringement or violation of any third party&rsquo;s copyright, patent, trademarks, trade secrets or other proprietary right or rights of publicity or privacy, or any other third party rights; xi. impersonates another person; xii. contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource; and/or codes that have the effect of damaging, interfering with, intercepting or expropriating any software or hardware system, data or personal information; xiii. contains any material that constitutes unauthorized advertising or harassment (including but not limited to spamming), invades anyone&rsquo;s privacy or encourages conduct that would constitute a criminal offense, give rise to civil liability, or otherwise violate any law or regulation; xiv. threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognisable offence or prevents investigation of any offence or is insulting any other nation; xv. is in contravention of the Information Technology Act, 2000 and any other law for the time being in force; xvi. opens links directly or indirectly to or include descriptions of goods or Services that are prohibited under the prevailing law; or xvii. Otherwise creates any liability or adverse publicity for the Company. b. As a condition of use of the Service and the Site, the User(s) and/or Dealer(s) and/or Provider(s) warrants that it/they will not use the Site for any purpose that is unlawful or illegal under any law for the time being in force within or outside India or prohibited by these terms, conditions, and notices including both specific and implied. In addition the Site shall not be used in any manner, which could damage, disable, overburden, or impair it or interfere with any other party&#39;s use and/or enjoyment of the Site. The User shall refrain from obtaining or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site. c. Listing of counterfeits, non-licensed replicas or unauthorized products is strictly prohibited on the site. Further no products can be advertised on the site without the explicit permission from the intellectual property right holder. It is clear inter-alia that all third party intellectual property rights are owned by the third party and not Company users. d. By acceptance of this Agreement and these terms &amp; conditions, the User hereby agrees that it has obtained all requisite consents, licences, approvals and permissions from all requisite governmental and statutory authorities for the goods and services it shall Host on the Site.
</p>

 		</div>
	</div>
	<br>
</div>





                 		


                 		
