<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">9. Breach &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>Without limiting other remedies, Company shall remove and disable all such content on the Site; may limit the User(s) and/or Dealer(s) and/or Provider(s) activity, immediately remove or end the User(s) and/or Dealer(s) and/or Provider(s) listing, warn other User(s) and/or Dealer(s) and/or Provider(s) and immediately temporarily/indefinitely suspend or terminate the User(s) and/or Dealer(s) and/or Provider(s)&rsquo;s membership, and/or refuse to provide the User(s) and/or Dealer(s) and/or Provider(s) with access to the Site if: a. User(s) and/or Dealer(s) and/or Provider(s) displays any information, data which is illegal or prohibited by any law for the time being in force including but not limited to the Illegal/Prohibited Content; b. User(s) and/or Dealer(s) and/or Provider(s) is in breach of the User(s) and/or Dealer(s) and/or Provider(s) Agreement or the documents it incorporates by reference; c. Company is unable to verify or authenticate any information the User(s) and/or Dealer(s) and/or Provider(s) provides; d. It is believed that the User(s) and/or Dealer(s) and/or Provider(s) actions may cause legal liability for the User(s) and/or Dealer(s) and/or Provider(s) , other User(s) and/or Dealer(s) and/or Provider(s) or the Company; e. A User(s) and/or Dealer(s) and/or Provider(s) puts any material into the Site systems which contains any viruses, Trojan horses, worms, time bombs or other computer programming or similar routines that may damage, interfere with, surreptitiously intercept or expropriate any system, data or personal information; f. A User(s) and/or Dealer(s) and/or Provider(s) is unable to produce, when asked for by the Company, a certified copy of a consent, licence, approval, permission or similar certification requisite for goods and/or services a User(s) and/or Dealer(s) and/or Provider(s) proposes to Host/has Hosted on the Site; g. Any monies payable by the User(s) and/or Dealer(s) and/or Provider(s) to the Company are not paid on the due date; or h. A complaint is received by the Company from another User(s) and/or Dealer(s) and/or Provider(s) or a third party and necessary action to resolve the complaint is not taken within 10 (ten) days by such User(s) and/or Dealer(s) and/or Provider(s) . Company may at any time at its sole discretion reinstate suspended User(s) and/or Dealer(s) and/or Provider(s). User(s) and/or Dealer(s) and/or Provider(s) that has been indefinitely suspended may not register or attempt to register with Company or use the Site in any manner whatsoever until such time that such User(s) and/or Dealer(s) and/or Provider(s) is reinstated by Company. Notwithstanding the foregoing, if the User(s) and/or Dealer(s) and/or Provider(s) breaches the Agreement or the documents it incorporates by reference, Company reserves the right to recover any amounts due and owing by the User(s) and/or Dealer(s) and/or Provider(s) to Company and to take strict legal action including but not limited to initiating criminal proceedings against the User(s) and/or Dealer(s) and/or Provider(s) in this regard.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">10. Use of User(s) and/or Dealer(s) and/or Provider(s) Information for promotions by Company &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. Company may use the User(s) and/or Dealer(s) and/or Provider(s) Information, Data or materials (&ldquo;Collected Information&rdquo;) to execute marketing campaigns, promotion or advertising messages on behalf of third parties. The Collected Information does not qualify as Sensitive Personal Data/Information. The Collected Information does not/will not be disclosed to third party(ies) unless you respond to the marketing, promotion or advertising message sent by such third party(ies). The Collected Information may be transferred, stored, used and processed at any place worldwide by the Company. b. In case of a merger, amalgamation or a &lsquo;buy-in&rsquo; or &lsquo;buy-out&rsquo; or a financial or strategic tie-up or similar alliance of/by the Company, the Collected Information may be transferred or assigned to the entity with whom the Company is entering into a merger, amalgamation, &lsquo;buy-in&rsquo; or &lsquo;buy-out&rsquo;, financial, strategic or similar alliance with, as the case may be. If a User(s) and/or Dealer(s) and/or Provider(s) objects to this collection and/or transfer/assignment, please do not use the Site.
</p>
      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">11. Confidentiality &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. All information and data submitted and/or Hosted by the User(s) and/or Dealer(s) and/or Provider(s) shall become the property of the Company. Except for disclosures of the nature set forth herein including in Clause 12, Company shall not release any such data and information without the prior consent of the User(s) and/or Dealer(s) and/or Provider(s). b. The User(s) and/or Dealer(s) and/or Provider(s) has access to only his own data and information stored in the database at the Company (subject to prior confirmation of identity) and nothing more. The User(s) and/or Dealer(s) and/or Provider(s) may edit or amend such data and information from time to time provided the terms and conditions and this Agreement are complied with. c. All confidential information (including name, e-mail address etc.) voluntarily revealed by the User(s) and/or Dealer(s) and/or Provider(s) in Member areas, is done at the sole discretion and risk of the User(s) and/or Dealer(s) and/or Provider(s). If such information is collected by a third party using the Site and misused or results in unsolicited messages from such third parties, then such actions are beyond the control of Company and the Company accepts no responsibility or liability whatsoever for such actions. d. The Company does not require a User(s) and/or Dealer(s) and/or Provider(s) to disclose to its employees and/or other User(s) and/or Dealer(s) and/or Provider(s)&rsquo;s any Sensitive Personal/Confidential Information on the Site. e. The User(s) and/or Dealer(s) and/or Provider(s) is cautioned not to reveal any Sensitive Personal/Confidential Information to third parties on the Site.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">12. Ownership of Intellectual Property &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>All copyright and/or know-how and/or any other intellectual property rights in relation to any of the Services of the Company shall become and remain the sole and exclusive property of the Company and the User(s) and/or Dealer(s) and/or Provider(s) shall have no claim to the same. In the event the User(s) and/or Dealer(s) and/or Provider(s) has contributed to any content in any manner whatsoever on the Site, all intellectual property rights to the same shall become the absolute property of the Company, including all intellectual property rights therein and the User(s) and/or Dealer(s) and/or Provider(s) shall have no right or claim over the same. In the event that the User(s) and/or Dealer(s) and/or Provider(s) during the term of this Agreement or any time thereafter, uses such intellectual property in any other website or related activity, the same shall be considered as an infringement of the intellectual property rights of the Company and the Company shall have the right to take recourse to such legal remedial action as it is best advised at the risk and costs of the User(s) and/or Dealer(s) and/or Provider(s).
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">13.  Waiver and Severability &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>The failure of the Company to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision. If any provision of this Agreement is found to be invalid and/or determined to be invalid or unenforceable in (whole or in part) by a court of competent jurisdiction, the Parties agree that the Court shall endeavour to give effect to the Parties&#39; intentions as reflected in the provision, and all the other provisions of this Agreement shall remain in full force and effect.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">14. Limitation of Liability &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. In no event shall the Company be liable for: i. any indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if the Company has been advised of the possibility of such damages) arising out of or in connection with the Site, its Services or this Agreement (however arising, including negligence); and/or ii. any delay or failure or disruption of the content, product or services delivered through the Site resulting directly or indirectly from acts of nature, forces or causes beyond our reasonable control, including without limitation, internet failures, computer telecommunications or any other equipment failures, electrical power failures, strike, labour disputes, riots, insurrections, civil disturbances, shortage of labour or materials, fires, flood, storms, explosions, acts of God, war, governmental actions, order of domestic or foreign courts or tribunals or non-performance of third parties or other force majeure condition. b. The Company, its associates and technology partners make no representations or warranties about the accuracy, reliability, completeness, and/or timeliness of any content, information, software, text, graphics, links or communications provided on or through the use of the Site or that the operation of the Site will be error free and/or uninterrupted. All such warranties, representations, conditions and undertakings are hereby excluded. c. User(s) and/or Dealer(s) and/or Provider(s) acknowledge that inability to use the website wholly or partially for whatever reasons may have an adverse effect on its business, work, research, etc. The Company assumes no liability whatsoever for any monetary or other damage suffered by the User(s) and/or Dealer(s) and/or Provider(s) including on account of any one or more of the following: i. The delay, failure, interruption, or corruption of any data or other information transmitted in connection with use of the Site or the Services; ii. The use or inability to use the Site or the Services; iii. Any interruption or errors in the operation of the Site or the Services; iv. Any unauthorized access by third parties (or User(s) and/or Dealer(s) and/or Provider(s)&rsquo;s to data or sensitive Personal Data/Information or other private information of a User(s) and/or Dealer(s) and/or Provider(s) ; v. Any false, misleading or incorrect data or information Hosted on Site by a User(s) and/or Dealer(s) and/or Provider(s) or false misleading or incorrect statements or conduct of a User(s) and/or Dealer(s) and/or Provider(s) ; vi. Any violation of third party rights or claims or demands whatsoever in relation to the products or Services Hosted on the Site; vii. Any matters relating to Services and/or the Site however arising, including negligence. d. Notwithstanding anything contained herein, the Company&#39;s liability in any and all circumstances shall be limited to the lesser of the amount of fees and/or charges paid by the User(s) and/or Dealer(s) and/or Provider(s) or Rs. 100/- (Indian Rupees One hundred) or the US$ Dollar equivalent thereof.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">15. Indemnity Clause &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>The User(s) and/or Dealer(s) and/or Provider(s) admits and acknowledges that:- i. The Company cannot take responsibility or control the information provided by the User(s) and/or Dealer(s) and/or Provider(s), which is made available on the Website of the Company as the Company has provided information, display of the products of the User(s) and/or Dealer(s) and/or Provider(s) on its Website in good faith and solely based on representations of the User(s) and/or Dealer(s) and/or Provider(s), which the Company has no reason to disbelieve. ii. The User(s) and/or Dealer(s) and/or Provider(s) shall be solely and exclusively responsible in respect of all or any liability arising out of any sale of any product/services and/or consequent to any display of any product or its description and features as the Company has only provided the link to the User(s) and/or Dealer(s) and/or Provider(s) and nothing more. iii. The Company in no way may be held liable for User(s) and/or Dealer(s) and/or Provider(s) provided information that may turn out to be offensive, harmful, inconsistent, inaccurate, or deceptive. iv. The Company has no obligation to monitor the information, products and/or materials posted on the Website of the Company although the Company shall at is sole discretion and without assigning any reason whatsoever shall have the right to remove or edit any content or information that in its sole discretion violates or is alleged to violate, any applicable law, rules or regulations or the spirit or letter of these Terms of Use. Notwithstanding this right, the User(s) and/or Dealer(s) and/or Provider(s) remains solely responsible for the content, information, product, service or the materials uploaded on the Website of the Company. v. The User(s) and/or Dealer(s) and/or Provider(s) has represented that it has all rights in the products and service and the content provided on the Website of the Company in respect of the products or service does not and shall not infringe any applicable law, rules or regulations and does not infringe the trademark, copyright and/or the patents or any other proprietary or any other rights of any third party in the said product or service and such product, service or its content does not contain libelous, tortious, or any unlawful information in any manner whatsoever. vi. The Company has the right to advice the prospective guest/client to exercise caution and display a disclaimer in respect of the fact that the Company has no liability of any kind or nature whatsoever and is not promoting or endorsing any product or service and that the Company is only giving the uploading rights to the User(s) and/or Dealer(s) and/or Provider(s) to upload its product or service and its contents on the Website and that the Company shall not be responsible or liable for the quality, quantity, description, content and/or other information in respect of the product and/or service. vii. The prospective guest/client may not be registered on the Website of the Company and if an inquiry is sent by the Company to a User(s) and/or Dealer(s) and/or Provider(s) listed on the Website of the Company, the Company takes no responsibility about the veracity/genuineness of the prospective guest/client or its whereabouts and the Company has only in good faith forwarded such inquiry to the User(s) and/or Dealer(s) and/or Provider(s) and the Company would not entertain any claims of any kind or nature whatsoever from the User(s) and/or Dealer(s) and/or Provider(s) or any other person in connection with any act, deed, thing or any act of omission or commission done or committed by the guest/client. The User(s) and/or Dealer(s) and/or Provider(s) further hereby indemnifies and keeps the Company and its Directors, Managers, officers, employees, representatives and/or any other persons in day to day incharge and management of the Company harmless and indemnified against any costs, damages, liabilities or other consequence of any of the actions taken by any person in respect of any product or service sold or displayed and/or in respect of any contents of the said product including on account of any of the factors mentioned in the foregoing sub-pargraph (i) to (vii) above. The User(s) and/or Dealer(s) and/or Provider(s) further undertakes that if the Company were to incur any cost/loss/penalty etc. on account of any act or deed of the User(s) and/or Dealer(s) and/or Provider(s) or their clients in relation to the display or sale of any product or its contents etc. than the User(s) and/or Dealer(s) and/or Provider(s) shall indemnify the Company and its Directors, Managers, officers, employees, representatives and/or any other persons in day to day incharge and management of the Company indemnified and harmless against any such cost/loss penalty etc. The User(s) and/or Dealer(s) and/or Provider(s) further undertakes that if the Company is made a party to any of the litigation by any person or in any proceeding initiated by any Government agencies than the User(s) and/or Dealer(s) and/or Provider(s) shall indemnify the Company and its Directors, Managers, officers, employees, representatives and/or any other persons in day to day incharge and management of the Company in respect of any cost or expenses incurred in defending any such action and the User(s) and/or Dealer(s) and/or Provider(s) shall without demur reimburse the cost, expenses to the Company as is demanded by the Company from the User(s) and/or Dealer(s) and/or Provider(s).
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">16. Notices &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>Except as explicitly stated otherwise, all notices to the Company shall be given by the User(s) and/or Dealer(s) and/or Provider(s) by postal mail and email to Legal Department, LabsCat, India or e-mail to: - labscat16@gmail.com (in the case of the Company) or to the email address the User(s) and/or Dealer(s) and/or Provider(s) provide during the registration process (in case of the User(s) and/or Dealer(s) and/or Provider(s)). Notice shall be deemed given 24 hours after email is sent, unless the sending Party is notified that the email address is invalid. Alternatively, the Company may give the User(s) and/or Dealer(s) and/or Provider(s) notice by certified mail/postage prepaid/email and return receipt requested, to the address provided to us during the registration process. In such case, notice shall be deemed given 3 (three) days after the date of mailing.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">17.  Third Party Content, Sites and Services &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. The Site and content available through the Service may contain features and functionalities that may link or provide the User(s) and/or Dealer(s) and/or Provider(s) with access to third party content which is completely independent of the Site, including web sites, directories, servers, networks, systems, information and databases, applications, software, programs, products or services, and the Internet as a whole. b. User(s) and/or Dealer(s) and/or Provider(s) &#39;s interactions with organizations and/or individuals found on or through the Service, including payment and/or delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between the User(s) and/or Dealer(s) and/or Provider(s) and such organizations and/or individuals. The User(s) and/or Dealer(s) and/or Provider(s) should make whatever investigation necessary or appropriate before proceeding with any On-line transaction with any of these third parties. c. The User(s) and/or Dealer(s) and/or Provider(s) agrees that the Company shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings. If there is a dispute between participants on this Site, or between User(s) and/or Dealer(s) and/or Provider(s) and any third party, the User(s) and/or Dealer(s) and/or Provider(s) understands and agrees that the Company is under no obligation to become involved. In the event that the User(s) and/or Dealer(s) and/or Provider(s) has a dispute with one or more other User(s) and/or Dealer(s) and/or Provider(s), the User(s) and/or Dealer(s) and/or Provider(s) hereby releases the Company, its Directors, officers, employees, agents and successors in rights from claims, demands and damages (actual and consequential) of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to such disputes and/or the Service(s). d. Company has established relationships with third parties to offer User(s) and/or Dealer(s) and/or Provider(s) the benefit of other products and services which the Company does not offer. The Company offers User(s) and/or Dealer(s) and/or Provider(s) access to the third parties website(s) either through the use of hyperlinks to their sites from the Site, or by offering &ldquo;co-branded&rdquo; or third party websites in which both the Company and these other/third parties share the same uniform resource locator, domain name or pages within a domain name on the Internet. In some cases User(s) and/or Dealer(s) and/or Provider(s) may be required to submit information for purposes of registering or applying for products or services provided by such third parties or co-branded partners. The User(s) and/or Dealer(s) and/or Provider(s) terms and privacy policy of such third parties may differ from ours, and the Company does not have any control over the information that a User(s) and/or Dealer(s) and/or Provider(s) may choose to submit to such third parties or co-branded sites. Company therefore encourages all User(s) and/or Dealer(s) and/or Provider(s) (s) to read the third party usage terms and conditions and privacy and other policies policy before responding to any offers, products or services provided by such other parties and/or using their Website(s). Company does not endorse or otherwise accept responsibility for the content or privacy or other policy of such co-branded third party Site. e. Company offers promotions to the User(s) and/or Dealer(s) and/or Provider(s) on the Site &amp; also put efforts in promoting clients &amp; their offered products/services on various popular search engines. Results of promotion on search engines are never guaranteed and it takes considerably time and effort for any results to appear on any search engine. Similarly, any search result appearing on any search engine cannot be removed/withdrawn immediately, it gets removed periodically as per the policy of a search engine on which company or its employees has no control. Every User(s) and/or Dealer(s) and/or Provider(s) must immediately advise Company about any Illegal/Prohibited or other such content that appearing on the Site for appropriate legal action. f. Company works with the principle of serving clients with the best possible &amp; prompt services. However it is important to note that to make any change requested by User(s) and/or Dealer(s) and/or Provider(s) s the Company needs a minimum 24 - 48 business hours on best efforts basis to deliver the same as per User(s) and/or Dealer(s) and/or Provider(s) requirement unless otherwise stated.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">18. Relationship of the Parties &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>It is clarified that there is no agency or/and partnership or/and joint venture or/and employee-employer or/and franchiser-franchisee relationship between the Company and any User(s) and/or Dealer(s) and/or Provider(s).
</p>
      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">19. Suspension, Reinstatement, and Refunds &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. Without prejudice to any other rights or remedies that may be available to it, the Company may suspend all services provided, remove and/or disable any and all User(s) and/or Dealer(s) and/or Provider(s) Hosted data and content and/or limit access rights of a User(s) and/or Dealer(s) and/or Provider(s) for a breach or violation as is set forth herein. b. User(s) and/or Dealer(s) and/or Provider(s) hereby authorises Company to remove and/or disable User(s) and/or Dealer(s) and/or Provider(s) hosted data and/or content or to limit Services to a User(s) and/or Dealer(s) and/or Provider(s) against whom a complaint is received, which remain unresolved or is not amicably settled with thirty (30) days of the date of the complaint by the aggrieved User(s) and/or Dealer(s) and/or Provider(s) . c. When the Service subscribed for is suspended without remedy for more than 45 (forty five) days, the Company shall have the option to terminate the membership of the User(s) and/or Dealer(s) and/or Provider(s) and the consequences set forth in Clause 23 shall follow. d. The Company may at its discretion and subject to such terms as it deems proper, reinstate a User(s) and/or Dealer(s) and/or Provider(s) and/or User(s) and/or Dealer(s) and/or Provider(s) Hosted data and re-start a Service e. A User(s) and/or Dealer(s) and/or Provider(s) dissatisfied with a Service may request Company for a refund provided the request is made in writing and addressed to the Grievance Officer in terms of Clause 25. The refunds may be made by the Company after making deductions for work done on for the User(s) and/or Dealer(s) and/or Provider(s) on creation, designing &amp; promotion etc. or duration of Services used by the User(s) and/or Dealer(s) and/or Provider(s) or otherwise. f. In case, due to whatever reason(s), if an Advertiser asks for cancellation of advertisement, 35% of the amount paid will be deducted by the company as cancellation charge. Additionally on pro-rata basis deductions from the total amount paid by the Advertiser will be done as per the consumption of advertisement based on the live duration of the given advertisement vis-a-vis total period booked.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">20. Returns of products/services&nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>Company do not guarantee any returns once the product/service has been delivered to the User(s) and/or Dealer(s) and/or Provider(s). User(s) and/or Dealer(s) and/or Provider(s) must clarify the return policies amongst themselves. Company has no say in this matter.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">21. Termination of Agreement &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. The User(s) and/or Dealer(s) and/or Provider(s) hereby agrees that Company, in its sole discretion, has the right (but not the obligation) to delete or deactivate a User(s) and/or Dealer(s) and/or Provider(s) account, block its email or IP address from the Site, or otherwise terminate its access to or use of the Service (or any part thereof) and/or the Site immediately and without notice, and remove any content Hosted within the Service/Site, for any reason, including, without limitation, if Company believes that the User(s) and/or Dealer(s) and/or Provider(s) has acted inconsistently with this Agreement. Further, the User(s) and/or Dealer(s) and/or Provider(s) agrees that Company shall not be liable whether for refunds or otherwise, to the User(s) and/or Dealer(s) and/or Provider(s) or any third-party for any termination of the User(s) and/or Dealer(s) and/or Provider(s) s access to the Service. The User(s) and/or Dealer(s) and/or Provider(s) agrees that it shall not attempt to use the Service after the Date of Termination. b. If the Company terminates User(s) and/or Dealer(s) and/or Provider(s) (s) membership, User(s) and/or Dealer(s) and/or Provider(s) (s) will not have the right to re-enroll or join Site under a new account or name or an alias unless formally invited to do so by the Company. Notwithstanding any contained herein, no membership/service/product charges will be refunded to a User(s) and/or Dealer(s) and/or Provider(s) in case of termination.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">22. Liabilities upon Termination &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. Without prejudice to any rights or remedies available to the Company, the User(s) and/or Dealer(s) and/or Provider(s) shall upon termination of the Agreement be liable for payment of any balance fees or charges payable until the Date of Termination. b. The amounts due and payable to the Company by the User(s) and/or Dealer(s) and/or Provider(s) upon termination shall be payable within 30 (thirty) days of the Date of Termination.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">23. Grievance Redressal &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. For any complaints and grievances, User(s) and/or Dealer(s) and/or Provider(s) may email: labscat16@gmail.com b. All complaints to the Grievance Officer shall be made in writing and email giving a detailed description of the complaint/grievance of the User(s) and/or Dealer(s) and/or Provider(s) . c. The Grievance Officer shall redress all complaints within one (1) month from the date of receipt of complaint.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">24. Arbitration Clause for Dispute &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>Any dispute or difference of any nature whatsoever arising out of or in relation to this Agreement including in respect of the indemnity clause of this Agreement shall be finally decided by a Sole Arbitrator to be nominated by the representative of the Company (hereinafter referred as &quot;the nominating authority&quot;). The Sole Arbitrator so appointed by the nominating authority shall be a practicing Advocate of not less than 5 years in practice or a retired judge of the High Court. The User(s) and/or Dealer(s) and/or Provider(s) shall not be entitled to raise any objection to any such Sole Arbitrator appointed by the nominating authority on any ground whatsoever. The arbitration shall be held in accordance with the provisions of the Arbitration &amp; Conciliation Act, 1996 or any other applicable law at the relevant point of time. The language of the arbitration shall be English and the award rendered in arbitration shall be a reasoned award in writing and shall be conclusive and binding on the parties. The venue of arbitration shall also be decided by the company at the time.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">25. Governing Law and Jurisdiction &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>a. This Agreement and any dispute or matter arising out of or in connection with and/or incidental to the use of the Site and/or the Services shall be governed by the laws of India without regard to its conflict of laws provisions. b. The User(s) and/or Dealer(s) and/or Provider(s) and the Company hereby irrevocably submit to the sole and exclusive jurisdiction of the courts as decided by company in India. This document is an electronic record in terms of the Information Technology Act, 2000 and the provisions pertaining to electronic records in various statues amended by the Information Technology Act, 2000.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">Disclaimer &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>Company as well as its management have created these pages and the Services as a specific feature and as a service to the global exim community. No warranty or condition expressed or implied or statutory is being provided to the User(s) and/or Dealer(s) and/or Provider(s). Company hereby specifically disclaims any quality, durability, accuracy, reliability and all express or implied warranties including but not limited to warranties of title, merchantability, fitness for a particular purpose or performance. Company does not make any representation or warranties of any kind about any product or Services offered, or displayed or hosted on the Site. All such warranties, representations, conditions and undertakings are hereby excluded. Under no circumstances shall Company be held liable for any delay or failure or disruption of the content or services/products delivered through the Site resulting directly or indirectly from acts of nature, forces or causes beyond our reasonable control, including without limitation, internet failures, computer, telecommunications or any other equipment failures, electrical power failues, strike, labor disputes, riots, insurrections, civil disturbances, shortage of labor or materials, fires, flood, storms, explosions, acts of God, war, governmental actions, order of domestic or foreign courts or tribunals or non-performance of third parties or other force majeure condition. Listing of counterfeits, non-licensed replicas or unauthorized products is strictly prohibited on the site. Further no products can be advertised on the site without the explicit permission from the intellectual property right holder. It is clear inter-alia that all third party intellectual property rights are owned by the third party and not LabsCat User(s) and/or Dealer(s) and/or Provider(s) s. Under no circumstances will Company be liable, direct, indirect, incidental, special, consequential or exemplary damages including but not limited to, damages for loss of profit, goodwill, use, data or other intangible losses arising out of or in connection with the use of the Services provided by Company (&ldquo;Damages&rdquo;) whether arising out of or in connection with or otherwise in relation to any business or other transaction conducted in relation to the Service(s). The Company&rsquo;s liability is limited in any and all circumstances shall be limited to the lesser of the amount of fees and/or charges paid by the User(s) and/or Dealer(s) and/or Provider(s) or Rs. 100/- (Indian Rupees One hundred) The User(s) and/or Dealer(s) and/or Provider(s) hereby indemnifies and holds Company harmless against any and all losses, claims, injuries and Damages that may arise out of the User(s) and/or Dealer(s) and/or Provider(s) &rsquo;s breach of this Disclaimer and/or the Agreement, Illegal/Prohibited Content, Warning against Fraud and or any breach of the terms and conditions or the representations or warranties made by the User(s) and/or Dealer(s) and/or Provider(s) herein or in the Agreement/usage terms. Company reserves the right to change the nature of the paid Services offered here or discontinue its Services to a member without any prior notice. This document is an electronic record in terms of the Information Technology Act, 2000 and the provisions pertaining to electronic records in various statues amended by the Information Technology Act, 2000.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">FRAUD WARNING &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>All User(s) and/or Dealer(s) and/or Provider(s) are advised to be very careful while doing business with individuals, body corporates or companies from any part of the world. User(s) and/or Dealer(s) and/or Provider(s) are advised to exercise due caution while transacting with a prospective buyer or a seller on the Site. User(s) and/or Dealer(s) and/or Provider(s) must undertake interactions or transactions with organizations and/or individuals located on or through the Site, with reasonable caution and after undertaking thorough diligence on such organization and/or individual. Neither the Company nor its director&rsquo;s, employees, officers or agents shall be liable to any User(s) and/or Dealer(s) and/or Provider(s) or otherwise for any illegal or fraudulent interaction or transaction with organizations and/or individuals located on or through the Site. User(s) and/or Dealer(s) and/or Provider(s) are advised to not send any advance money/legal fee or products unless there is cash in your account or an irrevocable letter of credit from the buyer/orderer duly authorised by the buyer&rsquo;s bank. User(s) and/or Dealer(s) and/or Provider(s) s are advised not to transact business unless full payment is made to you before shipping of the products.
</p>

      </div>
   </div>
   <br>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
         <h3 style="color:#00BFFF;">CREDIT CARD SCAMS &nbsp;<small></small></h3>
         <hr style="border-color:#00BFFF;">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
      <p>When a User(s) and/or Dealer(s) and/or Provider(s) receives any online Order paid by Credit Card, it is recommended that you ask for a written Credit Card Authorisation to be faxed to you. Please get validity of the Credit Card checked with your Bank or contact VISA, Master Card or American Express directly. Unless the validity of the Credit Card is confirmed, please do not ship any goods. &bull; BANK DRAFT SCAMS - BANK DRAFT SCAMS - There have been cases of people receiving Bank Drafts with unauthorised printing of Bank Names. Before shipping any product or advancing a partial cash advance, you must wait for the Bank to clear the Bank Draft/Check. &bull; Registration/License/Tender Fee SCAMS - Cases have been reported where an offer is sent to buy a large number of goods after the seller pays them a Registration/License/Tender Fee. They post Offers to BUY large quantity of Computers and other material. Once you submit your bid; you will be notified that your Tender has been accepted. You will then be asked to pay for Legal fees and Tender Fee. DO NOT PAY ANY FEE. Don&#39;t ship any Computers/Other products unless you have the cash in your account confirmed by your bank. This document is an electronic record in terms of the Information Technology Act, 2000 and the provisions pertaining to electronic records in various statues amended by the Information Technology Act, 2000.
</p>
      </div>
   </div>
   <br>
</div>


