<div class="row" style="position: absolute;right: 0;bottom: 0; left: 0; padding: 1rem; background-color: #efefef; text-align: center;">
      
          <div class="col-lg-4">
            <font size="3"><%= link_to "About Us", about_us_path%> | <%= link_to "Contact Us", contact_us_path%> | <a href="">Privacy</a> | <a href="">Terms</a></p></font>
          </div>
          <div class="col-lg-5">
          
           <%= link_to "https://play.google.com/store/apps/details?id=com.labscat.buyer" do %>
				  <%= image_tag('/assets/google.png',  width: "20%") %>
				<% end %>
      </div>
          <div class="col-lg-3">
            <font size="3"><p> &copy; <a href="#">LabsCat 2017</a> </font>
          </div>  
        </div>
